<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>

</head>
<body>
<h1>Crée un nouveau festival</h1>
<div class="form">
<form th:action="@{/ajouterFestival}" th:object="${festival}" method="post">

    <label>Nom :</label>
    <input type="text" th:field="*{nom}"/>
    <br />
    <label>Ville :</label>
    <input type="text" th:field="*{ville}"/>
    <br />
    <label>Lieu :</label>
    <input type="text" th:field="*{lieu}"/>
    <br />
    <label>Date de debut :</label>
    <input type="date" th:field="*{debut}"/>
    <br />
    <label>Date de fin :</label>
    <input type="date" th:field="*{fin}"/>
    <br />
    <label>Latitude :</label>
    <input type="number" th:field="*{lat}"/>
    <br />
    <label>Longitude :</label>
    <input type="number" th:field="*{lon}"/>
    <br />
    <input type="submit" value="Enregistrer"/>
</form>
</div>
</body>
</html>