<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Editer un Festival</title>
</head>
    <body>
        <h1>Editer un festival</h1>
            <form th:action="@{/editer.Festival}" th:object="${festival}" method="post">
                <label>Nom :</label>
                <input type="text" th:field="nom"/>
                <br />
                <label>Ville :</label>
                <input type="text" th:field="ville"/>
                <br />
                <label>Lieu :</label>
                <input type="text" th:field="lieu"/>
                <br />
                <label>Date de debut :</label>
                <input type="Date" th:field="debut"/>
                <br />
                <label>Date de fin :</label>
                <input type="Date" th:field="fin"/>
                <br />
                <input type="submit" value="Enregistrer"/>
            </form>
    </body>
</html>