<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des festivals</title>
</head>
  <body>
    <h1>Liste des festivals</h1>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Ville</th>
        <th>Lieu</th>
        <th>Date de debut</th>
        <th>Date de fin</th>
        <th>Latitud</th>
        <th>Longitud</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="festival :${festivals}">
        <td th:text="${festival.nom}"></td>
        <td th:text="${festival.ville}"></td>
        <td th:text="${festival.lieu}"></td>
        <td th:date="${festival.date}"></td>
        <td th:date="${festival.fin}"></td>
        <td th:double="${festival.lat}"></td>
        <td th:double="${festival.long}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>