<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">


    <title>Les Festivals</title>
</head>
<body>
<h1>Les festivals de votre region</h1>

<div id="map"></div>

<div id="top-ajouter"><button id="btn-ajouter" type="button" onclick="window.location.href='ajouter'">Ajouter un festival</button></div>

<div class="container">
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Ville</th>
        <th>Lieu</th>
        <th>Debut</th>
        <th>Fin</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="festival : ${festivals}">
        <td th:hidden="${festival.id}"></td>
        <td th:text="${festival.nom}">Test fest</td>
        <td th:text="${festival.ville}">Brest</td>
        <td th:text="${festival.lieu}">Arena</td>
        <td th:text="${festival.debut}">10/02/2024</td>
        <td th:text="${festival.fin}">12/02/2024</td>
        <td>
            <button onclick="window.location.href='/festivals/' + ${festival.id} + '/edit'">Edit</button>

            <!--<button th:href="@{/festivals/{id}/edit(id=${festival.id})}" class="btn btn-primary">Edit</button> -->
            <!--<button th:onclick="'javascript:window.location.href=' + \'@{/festivals/{id}/edit(id=${festival.id})}\``" class="btn btn-primary">Edit</button> -->
            <!-- <div><button id="btn-edit" onclick="window.location.href='editer'">Editer</button></div> -->
        </td>
    </tr>
    </tbody>
</table>
</div>

<script src="script.js"></script>
<script th:each="festival : ${festivals}" th:object="${festival}" th:inline="javascript">
    addMarkerOnMap([[${festival.lat}]], [[${festival.lon}]], [[${festival.nom}]], [[${festival.ville}]]);
</script>

</body>
</html>