<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Les Festivals</title>
</head>
<body>
<h1>Les festivals de votre region</h1>

<button id="ajouter" class="button" type="button" onclick="window.location.href='ajouter'">Ajouter un festival</button>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Ville</th>
        <th>Lieu</th>
        <th>Debut</th>
        <th>Fin</th>
        <th>   </th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="festival :${festivals}">
        <td th:text="${festival.nom}"></td>
        <td th:text="${festival.ville}"></td>
        <td th:text="${festival.lieu}"></td>
        <td th:date="${festival.date}"></td>
        <td th:date="${festival.fin}"></td>
        <td th:double="${festival.lat}"></td>
        <td th:double="${festival.long}"></td>
    </tbody>
</table>

<div><button><a href="editer">Editer</a></button></div>




</body>
</html>